/* Heading */
body {
  font-family:'Times New Roman' ;
  background-color: azure;
}

h1 {
  background-color: rgba(186, 163, 169, 0.7);
  padding: 13px;
  text-align: center;
  color: rgb(45, 28, 19, 0.9);
  font-size: 40px;
  font-family: 'Times New Roman';
}

h2 {
  background-color: black;
  color: antiquewhite;
  padding: 9px;
}

/* Author Info */
h3 {
  background-color: rgb(124, 90, 90, 0.9) ;
  padding:10px;

}

h3>span {
  padding-left: inherit;
  padding-right: inherit;
  color: rgb(20, 175, 124);
}

/* Article */
p {
  font-family: Verdana;
}

p>span {
  color: darkblue;
}